body{
    background: #224680;
}

u {    
  border-bottom: 1px dotted white;
  text-decoration: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.idleable{
    background-color: #324E40!important;
}

.warning{
  background-color: #ff6347!important;
}

.toggle{
  border-radius: 0px;
  border: 0px;
}
.toggle-off{
  background-color: #ffffff;
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}
