body{
    background: #2A1B44;
    letter-spacing: 0.05em;
    font-size: 0.8em;
}

u {    
  border-bottom: 1px dotted white;
  text-decoration: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.idleable{
    background-color: #28a7452e!important;
}

.warning{
  background-color: tomato!important;
}

#app {
    padding: 5vh 5vw;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.popover {
    /* width: 120px; */
    background-color: #000000e0;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
}

.popover-body {
  padding: .5rem .75rem;
  color: white;
}

.popover .arrow:after {
  border-top-color: #000000e0;
}

.btn-hardcore{
  background-color: #7d0101;
}

.label-w {
  width: 100%;
}
@media screen and (max-width: 400px) {
  .label-w { width:50px; }
}

.nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #2a1b44;
  border-color: #ffffff #ffffff #2a1b44;
}

.nav-link .text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
  max-width: 33%;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
